[run]
  timeout = "5m"

[linters-settings]

  [linters-settings.govet]
    check-shadowing = true

  [linters-settings.golint]
    min-confidence = 0.0

  [linters-settings.gocyclo]
    min-complexity = 15.0

  [linters-settings.gocognit]
    min-complexity = 35.0 # FIXME should be 10-20

  [linters-settings.maligned]
    suggest-new = true

  [linters-settings.goconst]
    min-len = 3.0
    min-occurrences = 3.0

  [linters-settings.misspell]
    locale = "US"

[linters]
  enable-all = true
  disable = [
    "lll", # Long lines are ok.
    "dupl",
    "prealloc",
    "maligned",
    "gochecknoinits",
    "gochecknoglobals",
    "gomnd", # Currently not needed FIXME in future
    "gosec", # Does not allow exec.Command with variable
    "scopelint",
    "funlen",
    "bodyclose", # Too many false positives
  ]

[issues]
  exclude-use-default = false
  max-per-linter = 0
  max-same-issues = 0
  exclude = [
    "Error return value of .((os\\.)?std(out|err)\\..*|.*Close|.*Flush|os\\.Remove(All)?|.*printf?|os\\.(Un)?Setenv). is not checked",
    "should have a package comment, unless it's in another file for this package",
  ]
