language: go

go:
  - 1.15.x

os: linux

dist: xenial

git:
  depth: false

notifications:
  email:
    on_success: never
    on_failure: change

cache:
  directories:
    - $GOPATH/pkg/mod

jobs:
  fast_finish: true
  include:
    - go: 1.15.x
      env: STABLE=true

env:
  global:
    - GO111MODULE=on

services:
  - docker

script:
  - echo "Skipping tests... (Tests are executed on SemaphoreCI)"
  - make docs-package

install:
  - go mod tidy
  - git diff --exit-code go.mod
  - git diff --exit-code go.sum
  - go mod download

before_deploy:
  - >
    if ! [ "$BEFORE_DEPLOY_RUN" ]; then
      export BEFORE_DEPLOY_RUN=1;
    fi
  - echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin;
  # Copy Semaphore yml file
  - mkdir -p site/.semaphore
  - cp ./.semaphore/semaphore.yml site/.semaphore/semaphore.yml
  # Install linters
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin ${GOLANGCI_LINT_VERSION}
  - golangci-lint --version
  # Install Docker image multi-arch builder
  - curl -sfL https://raw.githubusercontent.com/ldez/seihon/master/godownloader.sh | bash -s -- -b "${GOPATH}/bin" ${SEIHON_VERSION}
  - seihon --version
  - docker run --rm --privileged hypriot/qemu-register
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash -s -- --timeout="60m"
    on:
      tags: true
      condition: $STABLE = true
  - provider: script
    skip_cleanup: true
    script: make publish-images
    on:
      tags: true
      condition: $STABLE = true
