{{- if .Values.kubedns }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: coredns
  namespace: {{ .Release.Namespace }}
  labels:
    chart: {{ include "maesh.chartLabel" . | quote }}
    release: {{ .Release.Name | quote}}
    heritage: {{ .Release.Service | quote}}
{{- end}}
