---
apiVersion: v2
name: maesh
version: 2.0.0
appVersion: v1.2.0
description: Maesh - Simpler Service Mesh
keywords:
  - traefik
  - mesh
  - smi
home: https://mae.sh/
sources:
  - https://github.com/containous/maesh/
maintainers:
  - name: emilevauge
    email: emile@vauge.com
  - name: dtomcej
    email: daniel@containo.us
  - name: mmatur
    email: michael@containo.us
engine: gotpl
icon: https://raw.githubusercontent.com/containous/maesh/v1.2/docs/content/assets/img/maesh.png
dependencies:
  - name: tracing
    version: 0.0.3
    condition: tracing.deploy
  - name: metrics
    version: 0.0.6
    condition: metrics.deploy
