---
apiVersion: v2
name: maesh
version: 2.2.0
appVersion: v1.3.1
description: Maesh - Simpler Service Mesh
keywords:
  - traefik
  - mesh
  - smi
home: https://mae.sh/
sources:
  - https://github.com/containous/maesh/
maintainers:
  - name: emilevauge
    email: emile@vauge.com
  - name: dtomcej
    email: daniel.tomcej@gmail.com
  - name: mmatur
    email: michael@containo.us
  - name: santode
    email: manuel@containo.us
  - name: jspdown
    email: harold@containo.us
  - name: kevinpollet
    email: kevin@containo.us
engine: gotpl
icon: https://raw.githubusercontent.com/containous/maesh/v1.2/docs/content/assets/img/maesh.png
dependencies:
  - name: tracing
    version: 0.0.3
    condition: tracing.deploy
  - name: metrics
    version: 0.1.0
    condition: metrics.deploy
