---
apiVersion: v2
name: maesh
version: 1.1.0
appVersion: v1.1.0
description: Maesh - Simpler Service Mesh
keywords:
- traefik
- mesh
home: https://containo.us/
maintainers:
- name: emilevauge
  email: emile@vauge.com
- name: dtomcej
  email: daniel@containo.us
- name: mmatur
  email: michael@containo.us
engine: gotpl
icon: https://avatars0.githubusercontent.com/u/16349663?s=200&v=4
dependencies:
  - name: tracing
    version: 0.0.3
    condition: tracing.deploy
  - name: metrics
    version: 0.0.6
    condition: metrics.deploy
