site_name: Maesh
site_description: Maesh Documentation
site_author: containo.us
site_url: https://docs.mae.sh
dev_addr: 0.0.0.0:8000

#repo_name: 'GitHub'
#repo_url: 'https://github.com/containous/maesh'

docs_dir: 'content'

# https://squidfunk.github.io/mkdocs-material/
theme:
  name: 'material'
  custom_dir: 'theme'
  language: en
  include_sidebar: true
  favicon: assets/img/maesh-icon.svg
  logo: assets/img/maesh-logo.svg
  feature:
    tabs: false
  palette:
    primary: 'white'
    accent: '#9D0EB0'
  i18n:
    prev: 'Previous'
    next: 'Next'

copyright: "Copyright &copy; 2016-2019 Containous"

#google_analytics:
#  - 'docs.maesh.io'

extra_css:
  - assets/styles/extra.css # Our custom styles
  - assets/styles/atom-one-light.css # HightlightJS's CSS theme

extra_javascript:
  - assets/js/hljs/highlight.pack.js # Download from https://highlightjs.org/download/ and enable YAML, TOML and Dockerfile
  - assets/js/extra.js

plugins:
  - search

# https://squidfunk.github.io/mkdocs-material/extensions/admonition/
# https://facelessuser.github.io/pymdown-extensions/
markdown_extensions:
  - attr_list
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      use_pygments: false # hljs is used instead of pygment for TOML highlighting support
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.snippets:
      check_paths: true
  - markdown_include.include:
      base_path: content/includes/
      encoding: utf-8
  - toc:
      permalink: true

# Page tree
nav:
  - 'Welcome': 'index.md'
  - 'Quickstart': 'quickstart.md'
  - 'Installation': 'install.md'
  - 'Configuration': 'configuration.md'
