click==8.1.2
csscompressor==0.9.5
htmlmin==0.1.12
importlib-metadata==4.11.3
Jinja2==3.0.0
jsmin==3.0.1
livereload==2.6.3
Markdown==3.3.6
markdown-include==0.5.1
MarkupSafe==2.1.1
mkdocs==1.0.4
mkdocs-bootswatch==1.0
mkdocs-material==4.4.2
mkdocs-minify-plugin==0.5.0
pep562==1.1
Pygments==2.11.2
pymdown-extensions==6.1
PyYAML==6.0
six==1.16.0
tornado==6.1
typing-extensions==4.2.0
zipp==3.8.0
