---
apiVersion: v1
kind: Service
metadata:
  name: maesh-controller
  namespace: {{ .Release.Namespace }}
  labels:
    app: maesh
    component: controller
spec:
  type: ClusterIP
  ports:
    - port: 9000
      name: mesh-controller-api
      targetPort: api
  selector:
    component: controller
